<div>
    <form action="" method="post" class="form-signin" role="form">
        <input type="text" class="form-control" name="query_name" placeholder="Enter entity identifier" ng-model="curEntity.name" readonly><br/>
        <input type="text" class="form-control" name="handle" placeholder="Enter entity handles" ng-model="brandHandlesText"><br/>
        <input type="text" class="form-control" name="brand_name" placeholder="Enter entity brand names" ng-model="brandNamesText"><br/>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Edit Entity</button>
    </form>
</div>